* {
    margin: 0;
    padding: 0;
    font-family: Arial, Helvetica, sans-serif;
}
html {
    scroll-behavior: smooth;
}

#j-background {
    background-color: #f5f5f5;
    width: 100%;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}
#j-matn {
    text-align: center;
    position: relative;
    top: 7%;
    width: 50%;
}
#j-para {
    font-size: 22px;
    padding-top: 30px;
    margin: auto;
}
img {
    width: 300px;
}
#j-aza {
    position: relative;
    padding-top: 50px;
    top: 5%;
    display: flex;
    flex-direction: row;
}
.j-tozih {
    margin-top: 10px;
    width: 300px;
}
.j-ozv {
    border: 1px solid gray;
    background-color: white;
    margin: 20px;
    text-align: center;
}


#body{
    background-image: url("../img/e_pic2.jpg");
    background-size: cover;
    background-repeat: no-repeat;
    height: 100vh;
    display: flex;
    flex-direction: column;
    align-items: center;
}

#content{
    position: relative;
    top: 7%;
    /* left: 20%; */
    display: flex;
    flex-direction: column;
    width: 60%;
    padding-top: 0px;
}
.container{
    text-align: center;
    font-family: Impact, Haettenschweiler, 'Arial Narrow Bold', sans-serif;
    font-weight: bold;
    color: white;
}
#div2,#div3{
    display: flex;
    flex-direction: row;
    justify-content:space-around;
    }

    
#div21,#div22,#div23,#div24,#div31,#div32,#div33,#div34{
    border:1px white solid;
    border-radius: 15%;;
    background-color: white;
    width: 150px;
    height: 220px;
    margin: 15px;
    padding-top: 20px;
    text-align: center;
    
}
.imgsize{
    width: 45px;
    height: 45px;
}
#head {
    width: 100%;
    height: 100vh;
    /* overflow: hidden;
    align-items: center; */
}
#particles {
    height: 100%;
    overflow: hidden;
    position: relative;
    width: 100%;
    align-items: center;
    opacity: 0.3;
}
#intro {
    display: flex;
    flex-direction: column;
    align-items: center;
    position: absolute;
    left:40%;
    top: 25%;
    padding: 0 20px;
    /* width: 100%; */
}
#lan {
    display: flex;
    flex-direction: row;
    margin-top: 50px;
}
#logoType {
    margin-top: 10px;
}
.link-page {
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: black;
}
.link-page1 {
    padding-left: 20px;
    padding-top: 10px;
    text-decoration: none;
    color: rgb(255, 255, 255);
}
.opacity {
    opacity: 0;
    font-size: 10px;
}
.div-link {
    position: absolute;
    margin-top: 20px;
    font-size: 20px;
    color: #f5f5f5;
}
.page-sahar {
    background-image: url(../img/tamas.jpg);
    background-size: auto;
    width: 100%;
    height: 100vh;
}
#kadr-sahar {
    border: 1px solid rgb(138, 50, 0);
    border-radius: 10px;
    background-color: rgb(255, 196, 161);
    top: 25%;
    height: 40%;
    left: 15%;
    width: 22%;
    position: relative;
    display: flex;
    flex-direction: column;
}
#form-sahar {
    display: flex;
    flex-direction: row;
}
#matn-sahar {
    margin: 10px;
    text-align: center;
}
.name-sahar, #s1 {
    margin: 10px;
    margin-top: 25px;
    font-size: 20px;
}
#table-matn-sahar {
    text-align: right;
}
#s1 {
    background-color: rgb(138, 50, 0);
    color: rgb(255, 255, 255);
    text-align: center;
    border-radius: 20px;
}